section{
    width: 19em;
    height: 8em;
    margin-bottom: 5em;
    background: url("../images/card-bcg.png") center;
    background-size: cover;
    backface-visibility: hidden;
    @media (min-width: 480px)
    {
        margin: 0;
        position: absolute;

    }
}
