.section{
    width: 19em;
    height: 8em;
    margin-bottom: 5em;
    box-shadow: 3px 3px 7px gray;
    background: url("../images/card-bcg.jpeg") center;
    @media (min-width: 480px)
    {
        margin: 0;
        position: absolute;;
        top: 0;
        backface-visibility: hidden;
    }
}
