.a--swipe{
    display: none;
    width: 2em;
    height: 2em;
    @include hide-text;
    background: url("../images/flip-icon.svg") center no-repeat;
    background-size: contain;
    @media (min-width: 480px)
    {
        display: block;
    }
}
